@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

#app {
  // font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-family: 'Noto Sans TC', 'Noto Sans SC', '-apple-system', BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  letter-spacing: .05em;
  color: #eee;
  width: 100%;
  height: auto;
  /* overflow-x: hidden; */
  display: flex;
  justify-content: center;
  /* overflow-y: auto; */
}

a {
    text-decoration:none;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body.mask {
    overflow: hidden;
}

@media screen and (min-width: 240px) {
  html, body, button, input, select, textarea {
    font-size: 9px
  }
  html.android{
    &, body, button, input, select, textarea {
        font-size: 10px
    }
  }
}

@media screen and (min-width: 320px) {
  html, body, button, input, select, textarea {
    font-size: 12px
  }
  html.android{
    &, body, button, input, select, textarea {
        font-size: 13.8px
    }
  }
}

@media screen and (min-width: 374px) {
  html, body, button, input, select, textarea {
    font-size: 14px
  }
}

@media screen and (min-width: 400px) {
  html, body, button, input, select, textarea {
    font-size: 15px
  }
  html.android{
    &, body, button, input, select, textarea {
        font-size: 16px
    }
  }
}

@media screen and (min-width: 413px) {
  html, body, button, input, select, textarea {
    font-size: 15.5px
  }
}

@media screen and (min-width: 426px) {
  html, body, button, input, select, textarea {
    font-size: 16px
  }
  html.android{
    &, body, button, input, select, textarea {
        font-size: 18px
    }
  }
}

@media screen and (min-width: 450px) {
  html, body, button, input, select, textarea {
    font-size: 18px
  }
  html.android{
    &, body, button, input, select, textarea {
        font-size: 19.6px
    }
  }
}

@media screen and (min-width: 480px) {
  html, body, button, input, select, textarea {
    font-size: 18px
  }
  html.android{
    &, body, button, input, select, textarea {
        font-size: 20.25px
    }
  }
}

@media screen and (min-width: 540px) {
  html, body, button, input, select, textarea {
    font-size: 20.25px
  }
}

@media screen and (min-width: 590px) {
  html, body, button, input, select, textarea {
    font-size: 22.13px
  }
}

@media screen and (min-width: 600px) {
  html, body, button, input, select, textarea {
    font-size: 22.5px
  }
}

@media screen and (min-width: 640px) {
  html, body, button, input, select, textarea {
    font-size: 24px
  }
}

@media screen and (min-width: 720px) {
  body, button, input, select, textarea {
    font-size: 27px
  }
}

@media screen and (min-width: 800px) {
  html, body, button, input, select, textarea {
    font-size: 30px
  }
}
